
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title_line d-flex">
    <div class="container">
        <span class="title_line_item">
            <font color="#000"><a href="@Url.Action("Index", "Report")" style="color:#000;">Home</a></font>
        </span>
        <span class="title_line_item">
            <i class="fa  fa-caret-right"></i>
        </span>

    </div>
</div>

